<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SadariMapper.SadariMapper">

<select id="getStatsProject" resultType="hashmap">
	SELECT main_pj_cnt as cnt, main_pj_price totalPrice, main_member_cnt member FROM main
</select>

</mapper>