<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  위 코드 3줄은 복붙 -->
<mapper namespace="sadari.mapper.ProjectInsertMapper">

<insert id="projectInsert" parameterType="SadariModel.ProjectRec">
INSERT INTO PROJECT 
(CT_NO, PJ_NO, PJ_TITLE, PJ_PRICE,
PJ_ST_DT, PJ_TERM, PJ_CATEGORY, PJ_DEADLINE,
PJ_PLAN, PJ_SKILLS, PJ_MEETING, PJ_LOC, PJ_SUBLOC, PJ_CONTENT ) 

VALUES
(client_seq.nextval, PROJECT_SEQ.nextval, #{pjTitle}, #{pjPrice},
#{pjSt_dt}, #{pjTerm}, #{pjCategory}, #{pjDeadline},
#{pjPlan}, #{pjSkills}, #{pjMeeting}, #{pjLoc}, #{pjSubloc},#{pjContent} )


</insert>
</mapper>