@charset "UTF-8";
/*------------------------------ 인덱스 페이지 스타일시트 ------------------------------ */
/* 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
@import url(./css/style.css);
body {
  display: block;
  margin: 0 0 0 0;
  height: 100%;
}

.menubar {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: #242424;
}

/* 로고 */
.menu_logo {
  display: inline-block;
  font-size: 30px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin: 8px 0 8px 16px;
  text-align: left;
  text-transform: uppercase;
}

.menu_logo:hover {
  color: white;
}

nav {
  float: right;
}

nav a {
  font-family: 'Nanum Gothic', serif;
  padding: 18px 20px;
  display: inline-block;
  font-family: 'Nanum Gothic', serif;
  font-size: 12px;
  margin-left: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
  color: white;
}

/* section.be_Registered_Project */
.be_Registered_Project {
  margin-top: 50px;
  height: max-content;
  font-size: 100px;
  text-align: center;
}

.be_Registered_Project p {
  font-family: 'Nanum Gothic', serif;
  font-size: 30px;
  text-align: center;
}

/* footer */
footer {
  height: 300px;
  margin: 0 0 0 0;
  background: #242424;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #a0dcff;
}

.footer_logo {
  font-size: 40px;
  letter-spacing: -2.5px;
  color: #e7f1fe;
  display: inline-block;
  margin: 30px 0 0 40px;
  text-align: left;
  text-transform: uppercase;
  clear: left;
}

/* 기업 정보 입력 */
.companyExplain {
  font-family: 'Nanum Gothic';
  font-size: 15px;
  font-weight: 100;
  line-height: 1.7em;
  margin: 10px 0 0 40px;
  color: #e7f1fe;
}
