@charset "UTF-8";
/*------------------------------ 인덱스 페이지 스타일시트 ------------------------------ */
/* 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
body {
  display: block;
  margin: 0 0 0 0;
  height: 100%;
}

/* 메인 이미지 */
header {
  height: 500px;
  margin: 0 0 0 0;
  background: url(../img/main_image.jpg) top;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

/* 로고 */
.logo {
  font-size: 40px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  display: inline-block;
  margin: 30px 0 0 40px;
  text-align: left;
  text-transform: uppercase;
  clear: left;
}

.logo:hover {
  color: white;
}

nav {
  float: right;
  margin: 28px 60px 0 0;
  vertical-align: middle;
}

nav a {
  display: inline-block;
  font-family: 'Nanum Gothic', serif;
  font-size: 17px;
  margin-left: 30px;
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

nav a:hover {
  color: #a0dcff;
}

/* 로그인 버튼 */
.login {
  display: table-cell;
  font-size: 15px;
  text-align: center;
  padding: 0.3em;
  border: #043e86 solid 5px;
  vertical-align: middle;
  border-radius: 250px;
  background: #043e86;
  width: 80px;
  height: 22px;
}

.login:hover {
  color: white;
  opacity: 0.9;
}

/* SIGN UP 버튼 */
a {
  text-decoration: none;
}

a .sign {
  font-family: 'Ubuntu';
  display: block;
  border: 2px solid #FFFFFF;
  border-radius: 220px;
  width: 200px;
  text-align: center;
  font-size: 23px;
  margin: 0 auto;
  color: #FFFFFF;
  line-height: 50px;
}

a .sign:hover {
  opacity: 0.8;
}

/* 메인 문구 */
h1 {
  font-family: 'Ubuntu';
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: white;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  padding-top: 80px;
  clear: both;
}

/* 서브 문구 */
h2 {
  font-family: 'Ubuntu';
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.12em;
  color: white;
  padding-top: 1px;
  margin-bottom: 40px;
}

/* section.stats */
.stats {
  border-top: 1px solid rgba(172, 172, 172, 0.3);
  border-bottom: 1px solid #d4d5d6;
  height: 92px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #fff;
  margin-top: 0\0;
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Nanum Gothic';
  text-align: center;
}

.stats_Inner {
  font-family: 'Nanum Gothic', serif;
  font-size: 20px;
  display: inline-block;
  border-left: none;
  border-right: 1px solid rgba(136, 136, 136, 0.2);
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 120px;
  padding-right: 120px;
}

/* section.be_Registered_Project */
.be_Registered_Project {
  height: max-content;
  font-size: 100px;
  text-align: center;
}

.be_Registered_Project p {
  font-family: 'Nanum Gothic', serif;
  font-size: 30px;
  text-align: center;
}

/* footer */
footer {
  height: 300px;
  margin: 0 0 0 0;
  background: #0a1c32;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #a0dcff;
}

a:hover .logo {
  font-size: 40px;
  letter-spacing: -2.5px;
  color: #e7f1fe;
  display: inline-block;
  margin: 30px 0 0 40px;
  text-align: left;
  text-transform: uppercase;
  clear: left;
}

/* 기업 정보 입력 */
.companyExplain {
  font-family: 'Nanum Gothic';
  font-size: 15px;
  font-weight: 100;
  line-height: 1.7em;
  margin: 10px 0 0 40px;
  color: #e7f1fe;
}
